:root {
  --bs-font-poppins: 'Poppins', sans-serif;
  --shape-bg: url('./img/header-shapes-desktop.png');
}

body {
  --bs-body-font-family: var(--bs-font-poppins);
  --bs-body-bg: #f7f7f9;
}

.point-divider {
  width: 8px;
  height: 8px;
}

.text-custome-dark {
  color: #091e42;
}

#headline {
  min-height: 800px;
  border-bottom-left-radius: 80px;
  z-index: 1;
}

#headline-shape {
  background-image: var(--shape-bg);
  height: 722px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 95%;
  z-index: -1;
}

#about {
  border-top-right-radius: 80px;
}

.skill-icon {
  width: 48px;
  height: 48px;
}

#contact-wrapper {
  border-top-left-radius: 80px;
  background-color: #6070ff;
  z-index: 1;
}

#contact-shape {
  --shape-bg: url('./img/contact-form-desktop-shapes-bg.png');

  background-image: var(--shape-bg);
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 90%;
  z-index: -1;
}
